<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ page.description }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <script src="https://kit.fontawesome.com/53df3a2a07.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="{% if page.prototype %}prototype{% endif %}">
        <header>
            <nav>
                {% if page.url != '/' %}
                    <a href="/" class="button"><i class="fa-solid fa-arrow-left"></i></a>
                {% endif %}
                <h1>
                    {{ page.title }}
                </h1>
            </nav>
            {% if page.url == '/' %}
                <nav>
                    <a href="https://blaze.design" class="button"><i class="fa-solid fa-house"></i></a>
                </nav>
            {% endif %}
        </header>

        {% if page.prototype %}
            <div class="preview">
                {{ content }}
            </div>
        {% else %}
            {{ content }}
        {% endif %}
    </main>

    {% if page.js_file %}
        <script src="https://blaze.design/assets/js/{{ page.js_file }}.js"></script>
    {% endif %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-355V4GHGSF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-355V4GHGSF');
    </script>
</body>
</html> 